/*odin-recipes style sheet*/


/*below are the index signifiers*/

.header {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    padding: 5px;
}

#home {
    background-color: lightyellow;
    border: 5px solid black;

}

/* Above are the index signifiers*/
/*Below are parm tilapia signifiers*/

#parmtilapia {
    background-color:lightyellow;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid black;
    padding: 15px;
}

.img,.img {
    text-align: center;
    margin: 15px;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}


/* Above are parm tilapia signifiers*/
/*Below are pork signifiers*/

#pork {
    background-color:lightyellow;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid black;
    padding: 15px;
}

.img,.img {
    text-align: center;
    margin: 15px;
    
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}

/* Above are pork signifiers*/
/*Below are roast signifiers*/

#roast {
    background-color:lightyellow;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid black;
    padding: 15px;
}

.img,.img {
    text-align: center;
    margin: 15px;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}


